<section class="page-container">

  <header class="page-header-container">
    <mat-icon>room_service</mat-icon>
    <div class="page-header-title">Nueva reservación</div>
  </header>

  <div class="page-body-container">

    <mat-horizontal-stepper [linear]="true" #stepper>

      <!-- STEP 1 -->
      <mat-step [completed]="(selectedInitialDate && (selectedRoom !== ''))">
        <ng-template matStepLabel>Fecha Inicial y Cuarto</ng-template>
        <div class="new-reservation-step">
            <div class="new-reservation-step-calendar-container">
              <div class="inside-stepper-label">Seleccione la fecha inicial</div>
              <mat-calendar [selected]="selectedInitialDate"
                            (selectedChange)="onSelectInitialDate($event)">
              </mat-calendar>
            </div>

            <div class="new-reservation-step1-rooms-container">
              <div class="inside-stepper-label">Seleccione la habitación</div>
              <div class="new-reservation-step1-rooms-table-container mat-elevation-z8">
                  <table mat-table  [dataSource]="freeRoomsDataSource">
                      <ng-container matColumnDef="number">
                          <th mat-header-cell *matHeaderCellDef>Número</th>
                          <td mat-cell *matCellDef="let x">
                            {{x.room.number}}
                          </td>
                      </ng-container>

                      <ng-container matColumnDef="capacity">
                          <th mat-header-cell *matHeaderCellDef>Capacidad</th>
                          <td mat-cell *matCellDef="let x">
                            {{x.room.capacity}}
                          </td>
                        </ng-container>

                      <ng-container matColumnDef="vpn">
                          <th mat-header-cell *matHeaderCellDef>Valor por noche</th>
                          <td mat-cell *matCellDef="let x">
                            {{x.room.vpn}}
                          </td>
                      </ng-container>

                      <ng-container matColumnDef="free-days">
                          <th mat-header-cell *matHeaderCellDef>Días disponibles</th>
                          <td mat-cell *matCellDef="let x">
                            {{x.freeDays === 1000000 ? 'siempre' : x.freeDays}}
                          </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="freeRoomsDisplayedColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: freeRoomsDisplayedColumns"
                          [class.selected-row]="selectionFreeRooms.isSelected(row)"
                          [class.unselected-row]="!selectionFreeRooms.isSelected(row)"
                          [class.selectionable-row]="true"
                          (click)="onSelectionFreeRoomsChange(row)">
                      </tr>
                  </table>

                  <mat-paginator  class="sticky-paginator"
                                  [length]="(freeRoomsDataSource.connectCount() | async)"
                                  [pageSize]="20">
                  </mat-paginator>
              </div>
            </div>
        </div>
      </mat-step>

      <!-- STEP 2 -->
      <mat-step [completed]="false">
          <ng-template matStepLabel>Fecha Final, Detalles y Agencia</ng-template>
          <div class="new-reservation-step">

              <div class="new-reservation-step-calendar-container">
                <div class="inside-stepper-label">Seleccione la fecha final</div>
                <mat-calendar [selected]="selectedFinalDate"
                              [minDate]="minValidFinalDate"
                              [maxDate]="maxValidFinalDate"
                              [startAt]="selectedFinalDate"
                              (selectedChange)="onSelectFinalDate($event)">
                </mat-calendar>
              </div>

              <div class="flex-columns" style="flex-grow: 1; margin-left: 20px;">

                <div class="new-reservation-agency-selector-container">
                  <div class="inside-stepper-label">Seleccione la Agencia</div>
                  <div  class="agency-select-container"
                        style="margin-top: 32px; border-bottom: 1px solid rgba(0,0,0,.42);">
                    <mat-select value="0">
                      <mat-option value="0">Ninguna</mat-option>
                      <mat-option *ngFor="let agency of agencies" [value]="agency.id">
                        {{agency.name}}
                      </mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>

              <div class="new-reservation-details-container">
                  <div class="inside-stepper-label">Detalles</div>
                  <div class="details-control">

                  </div>
              </div>
          </div>
      </mat-step>

      <!-- STEP 3 -->
      <mat-step [completed]="false">
          <ng-template matStepLabel>Paso 3</ng-template>
          <div class="new-reservation-step3">
            Step3
          </div>
      </mat-step>

    </mat-horizontal-stepper>
  </div>

</section>
