/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// @import '~angular-calendar/css/angular-calendar.css';

@include mat-core();

$primary: mat-palette($mat-teal, 800, 200, 100);
$accent: mat-palette($mat-indigo);
$warn:    mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$custom-typography: mat-typography-config(
    $font-family: 'Roboto, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field.mat-form-field {
  font-size: 18px;
}

.menu {
  border-left: 4px solid mat-color($accent);
}

.mat-nav-list .mat-list-item, .mat-expansion-panel-header {
  background: #fafafa00;
}

.mat-expansion-panel-header.mat-expanded {
  background:#fafafa!important;
}

div.mat-expansion-panel-body {
  padding: 3px 0px 3px!important;
}

.active {
  border-left: 4px solid mat-color($primary);
}

.mat-warn {
  color: mat-color($warn);
}

.mat-accent {
  color: mat-color($accent);
}

div.container > div.loading, div.loading {
  height: 10px;
}

.info {
  padding: 1%;
}

.loading-shade {
  position: absolute;
  left: 0;
  right: 0;
  top: 200;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

.create-button {
  z-index: 1024;
}

.spacer {
  flex: 1 1 auto;
}

.mat-drawer, .mat-drawer-inner-container {
  overflow-x: hidden!important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.item-1 {
  width: 25%;
}

.table-footer {
  background-color: white;
  padding: 3px 3px 7px 7px;
}

/*Define the @font-face Material Icons*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('assets/fonts/Material Icons'),
        local('assets/fonts/MaterialIcons-Regular'),
        url('assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('assets/fonts/MaterialIcons-Regular.woff') format('woff'),
        url('assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon.*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background*/
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background.*/
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.flex-columns { display: flex; flex-direction: column; }
.flex-row { display: flex; flex-flow: row nowrap; }
.flex-row-wrap { display: flex; flex-flow: row wrap; }

.mat-table {
  width: 100%;
}

.sticky-paginator {
  bottom: 0px;
  position: sticky;
  z-index: 100;
  border-top: 1px solid #e0e0e0;
}

.selectionable-row {
  cursor: pointer;
}
.selected-row {
  background-color: #d1d1d1;
}
.unselected-row:hover {
  background-color: #f5f5f5;
}

/**********************************************************************************
********************** Reception Module styles ************************************
***********************************************************************************/
.page-container {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-header-container {
  display: flex;
  flex-flow: row nowrap;
  font-weight: 700;
  font-size: 22px;
  color: mat-color($primary);
  align-items: center;

  padding: 15px;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.page-header-title { margin-left: 15px; }

.page-body-container {
  display: flex;
  flex-flow: column;

  padding: 15px;
}

.check-layout-container,
.new-reservation-step {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.check-calendar-container,
.new-reservation-step-calendar-container {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.check-reservations-container,
.new-reservation-step1-rooms-container {
  flex-grow: 1;
  min-width: 400px;

  padding-left: 20px;

  display: flex;
  flex-direction: column;
}
.check-reservations-container {
  margin-top: 32px;
}

.check-table-container,
.new-reservation-step1-rooms-table-container {
  max-height: 450px;
  overflow: auto;
}

.new-reservation-step1-rooms-table-container {
  margin-top: 32px;
}

.inside-stepper-label {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, .7);
}

