<div class="grid-container">
  <header class="page-header-container">
    <mat-icon>room_service</mat-icon>
    <div class="page-header-title">Bienvenidos al sistema de reservación</div>
  </header>
  <br />
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
    <mat-card class="dashboard-card">
      <mat-card-content class="dashboard-card-content">
          <mat-calendar></mat-calendar>
      </mat-card-content>
    </mat-card>

    <mat-card class="dashboard-card" fxFlex="33%" fxFlex.xs="90%" fxFlex.md="90%">
        <mat-card-header>
          <mat-card-title>Facturas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ngx-charts-bar-horizontal
              [view]="[400, 250]"
              class="chart-container"
              [schemeType]="schemeType"
              [results]="multi"
              [animations]="animations"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [legendTitle]="legendTitle"
              [legendPosition]="legendPosition"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [tooltipDisabled]="tooltipDisabled"
              [xAxisLabel]="xAxisLabel"
              [yAxisLabel]="yAxisLabel"
              [showGridLines]="showGridLines"
              [roundEdges]="roundEdges"
              [showDataLabel]="showDataLabel"
              [trimXAxisTicks]="trimXAxisTicks"
              [trimYAxisTicks]="trimYAxisTicks"
              [rotateXAxisTicks]="rotateXAxisTicks"
              [maxXAxisTickLength]="maxXAxisTickLength"
              [maxYAxisTickLength]="maxYAxisTickLength"
            >
            </ngx-charts-bar-horizontal>
        </mat-card-content>
      </mat-card>


        <mat-card class="dashboard-card"  fxFlex="33%" fxFlex.xs="90%" fxFlex.md="90%">
          <mat-card-header>
            <mat-card-title>
                <mat-icon>room_service</mat-icon> Cantidad de Reservaciones
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
              <h1 style="font-size: 200px; text-align: center;">{{reservationCount}}</h1>
          </mat-card-content>
        </mat-card>


</div>
